.card{
  width: 350px;
  height: 421px;
  margin-bottom: 30px;
  background: $cardwhite;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.svgCard{
  width: 40%;
  margin: 40px 30% 40px 30%;
}

.svgDots{
  display: block;
  width: 20%;
  margin: 60px auto 20px auto;
}

.svgDots:hover{
  display: block;
  width: 20%;
  margin: 60px auto 20px auto;
  cursor: pointer;
}

.cardBox{
  margin: 100px 10% 50px 10%;
}

.closeCardBtn{
  position:absolute;
  right: 15%;
  margin: 10px 0 0 0;
}

.svgClose{
  width: 40px;
}

.svgSelectedCard{
  width: 40%;
  margin: 65px 30% 40px 30%;
}

.selectedCard{
  width: 90%;
  background: $cardwhite;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.selectedCardTitle{
  width: 30%;
  padding: 0 15px 0 15px;
}

.selectedCardText{
  margin: 5%;
  width: 60%;
}


@media only screen and (max-width: 800px) {
  .svgSelectedCard{
    width: 30%;
    margin: 20px 35% 20px 35%;
  }

  .selectedCardText {
    width: 80%;
    margin: 20px 10% 20px 10%;
  }

  .card{
    width: 150px;
    height: 221px;
    margin-bottom: 30px;
    background: $cardwhite;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .svgCard{
    width: 40%;
    margin: 30px 30% 30px 30%;
  }

  .svgDots{
    display: block;
    width: 20%;
    margin: 25px auto 25px auto;
  }
}
