.numerisationImg{
  width: 80%;
  margin: 90px auto;
  text-align: center;
  overflow-x: auto;
}

.numerisationText{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.numerisationTitle{
  width: 60%;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color: #003C89;
}

@media only screen and (max-width: 1024px) {
  .numerisationImg{
    margin: 40px auto;
  }
}
