.NavBtn{
  height: 16px;
  // width: 10px;
  background-color: $backgroundwhite;
  border: 2px solid $darkblue;
  border-radius: 50px;
  z-index: 999;
}

.activateBtn{
  transform: scale(1.3);
  background-color: $darkblue;
}

.NavBtn:hover{
  transform: scale(1.3);
}

.NavBtntop{
  position: sticky;
  top: 45vh;
  left: 96vw;
}

.NavBtncards{
  position: sticky;
  top: 48vh;
  left: 96vw;
}

.NavBtnfeatures{
  position: sticky;
  top: 51vh;
  left: 96vw;
}

.NavBtnongoing{
  position: sticky;
  top: 54vh;
  left: 96vw;
}
