.ongoingIntro{
  width: 70%;
  margin: 60px auto 60px auto;
}

.ongoingSeparator{
  width: 10%;
  border: 1.5px solid $textgrey;
}

.ongoingRow{
  width: 70%;
  margin: 0 15% 0 15%;
}

.ongoingText{
  margin: auto 0;
  width: 60%;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .ongoingIntro{
    width: 80%;
    margin: 60px auto 60px auto;
  }

  .ongoingText{
    margin: auto 0;
    width: 80%;
    margin: 60px auto 60px auto;
  }

  .ongoingRow{
    width: 90%;
    margin: 0 auto 0 auto;
  }
}
